.root{
    /*-fx-background-color: #2A2F3D;*/
    -fx-background-color: #212B38;
    -fx-font-family: "Comic Sans MS";
}

.label{
    -fx-label-padding: 0 0 0 5;
    -fx-text-fill: #726EFF;
    -fx-font-size: 18;
    -fx-background-color: white;
}
